@{
    ViewData["Title"] = "Show Page";
}

@model MyViewModel

<h1>Categories</h1>

<p>Name: @Model.Category.Name</p>

<a class="btn" href="/category/show">Categories</a>

@* @if (Model.User.UserId == @Context.Session.GetInt32("UserId"))
{
    <a href="/category/@Model.Category.CategoryId/edit" class="btn">Edit</a>
    <form asp-action="DestroyCategory" asp-controller="Category" asp-route-CategoryId="@Model.Category.CategoryId" method="post">
        <input class="btn" type="submit" value="Delete">
    </form>
} *@

<h1>Add an Item</h1>
<section class="text-center text-lg-start">
            <div class="card mb-3">
                <div class="row g-0 d-flex align-items-center">
                    <div class="form">
                        <div class="card-body py-5 px-md-5">

                            @await Html.PartialAsync("~/Views/CRUD/_AddItem.cshtml", Model.ProductCategory)

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


