<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Contact</title>
</head>
<body>

    <div>
        <a class="btn" href="/">Home</a>
        |
        <a class="btn" href="/users">User</a>
        |
        <a class="btn" href="/contacts">Contact</a>
    </div>

    <h1>Contact Me!</h1>

    <form class="form-group" action="process" method="post">
        <label for="NameField">Name</label>
        <input class="form-control" type="text" name="NameField"/>
        <label for="EmailField">Email</label>
        <input class="form-control" type="text" name="EmailField"/>
        <label for="MessageField">Message</label>
        <input class="form-control" type="text" name="MessageField"/>
        <input class="btn" type="submit" value="Submit"/>
    </form>

</body>
</html>