<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Index</title>
</head>
<body>

    <div>
        <a class="btn" href="/">Home</a>
        |
        <a class="btn" href="/users">User</a>
        |
        <a class="btn" href="/contacts">Contact</a>
    </div>

    <h1 class="about">About Me</h1>

    <div class="container">
        <div class="user-img"></div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Dolorem accusamus quae quo doloremque, mollitia recusandae reiciendis voluptas consectetur harum ad ipsam nemo. <br> Porro mollitia id ipsum consectetur, nobis possimus similique.
        </p>
    </div>
    <div class="user-info">
        <p>Nima Bazofti</p>
        <p>I love to code!</p>
    </div>
    
</body>
</html>
