@{
    ViewData["Title"] = "Show All Page";
}

@model MyViewModel

<h2>Resturant Dishes</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th># of Products</th>
            </tr>
        </thead>
        <tbody>
            @foreach (User item in Model.AllUsers)
            {
                TimeSpan Span = (DateTime.Now - item.DoB);
                DateTime Age = new DateTime(1, 1, 1);
                int Years = (Age + Span).Year - 1;
                <tr>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@Years</td>
                    <td>@item.AllItems.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a class="btn" href="/products/new">Create</a>
