/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    border: 1px dashed red;
}

/* styles to apply to body */

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

a {
    color: blue;
}

/* NAVBAR */

.d-flex {
    margin-right: 100px;
}

.navbar-brand {
    margin-left: 100px;
}

/* NAVBAR */

