@{
    ViewData["Title"] = "Show All Page";
}

@model MyViewModel

<h2>Resturant Dishes</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th># of Dishes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (User item in Model.AllUsers)
            {
                <tr>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.DoB</td>
                    <td>@item.AllDishes.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a class="btn" href="/dishes/new">Create</a>
