@{
    ViewData["Title"] = "Users Page";
}

<h1>Users</h1>

<div class="container2">
    @foreach (string userId in ViewBag.UserIds) {
        <div class="user-img"></div>
        <div>
            <p>@userId</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
    }
</div>

