@{
    ViewData["Title"] = "Home Page";
}

<h1 class="about">About Me</h1>

<div class="container">
    <div class="user-img"></div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Dolorem accusamus quae quo doloremque, mollitia recusandae reiciendis voluptas consectetur harum ad ipsam nemo. <br> Porro mollitia id ipsum consectetur, nobis possimus similique.
    </p>
</div>

<div class="user-info">
    <p>Nima Bazofti</p>
    <p>I love to code!</p>
</div>
